<script type="text/javascript">
<!--
function cc_changeDisplay(id){
    var elestyle = xoopsGetElementById(id).style;
    if (elestyle.display == "block") {
        elestyle.display = "none";
    } else {
        elestyle.display = "block";
    }
}
//-->
</script>

<div style="clear: both;"><a href="javascript:void(0);" onclick="cc_changeDisplay('sitemap_block');"><{$smarty.const._MB_SITEMAP_OPENCLOSE}></a></div>

<div id="sitemap_block" style="overflow: auto; clear: both;">

<{if $block.sitemapstyle == 1}>

<div style="margin:10px 0;"><{$block.msgs}></div>
<div align="right">
  <img src="<{$icms_url}>/modules/sitemap/images/map.gif" alt="" style="vertical-align:text-bottom;" />&nbsp;
  <a href="<{$icms_url}>/"><{$smarty.const._MB_SITEMAP_HOME}></a>
</div>

<{foreach name=i item=module from=$block.sitemap.modules}>
  <{if $block.cols > 0}>
    <{include file="db:sitemap_inc_eachmodule.html" div_style=$block.divstyle}>
  <{else}>
    <{include file="db:sitemap_inc_eachmodule.html" div_style="margin:2px;"}>
  <{/if}>
<{/foreach}>

<{else}>

<link rel="stylesheet" type="text/css" href="<{$icms_url}>/modules/sitemap/slickmap.css" />
<div style="margin:10px 0;"><{$block.msgs}></div>
<br /><br />
<div class="sitemap">
	<ul id="primaryNav" class="col<{$sitemap.modules|@count}>">
		<li id="home"><a href="<{$icms_url}>/"><{$smarty.const._MB_SITEMAP_HOME}></a></li>
		
		<{foreach name=i item=module from=$block.sitemap.modules}>
		  <{include file="db:sitemap_inc_eachmodule_slickmap.html"}>
		<{/foreach}>
	</ul>
</div>

<{/if}>

</div>