<div style="width: 30%; float: left; margin: 10px;">
	<{if $module.name}>
		<div class="even" style="padding: 3px 3px 3px 4px; margin-bottom: 2px;">
			<img src="<{$icms_url}>/modules/sitemap/images/main.gif" alt="" style="vertical-align:text-bottom;" />
			<a href="<{$icms_url}>/modules/<{$module.directory}>/"><{$module.name}></a>
		</div>

		<{foreach item=parent from=$module.parent}>
			<div style="padding-left: 4px; padding-top: 2px; font-size: .9em;">
				<img src="<{$icms_url}>/modules/sitemap/images/cat.gif" alt="" style="vertical-align:text-bottom;" />
				<a href="<{$icms_url}>/modules/<{$module.directory}>/<{$parent.url}>"><{$parent.title}></a>
			</div>

			<{if $show_subcategoris}>
				<{foreach item=child from=$parent.child}>
					<div style="padding-left: 8px; font-size: .9em; height: 16px; overflow: hidden;">
						<img src="<{$icms_url}>/modules/sitemap/images/bar<{$child.image}>.gif" alt="" style="vertical-align:text-bottom;" />
						<img src="<{$icms_url}>/modules/sitemap/images/bar.gif" alt="" style="vertical-align:text-bottom;" />
						<img src="<{$icms_url}>/modules/sitemap/images/cat2.gif" alt="" style="vertical-align:text-bottom;" />
						<a href="<{$icms_url}>/modules/<{$module.directory}>/<{$child.url}>"><{$child.title}></a>
					</div>
				<{/foreach}>
			<{/if}>

		<{/foreach}>

		<{foreach item=sublink from=$module.sublinks}>
			<div style="padding-left: 4px; padding-top: 2px; font-size: .9em;">
				<img src="<{$icms_url}>/modules/sitemap/images/sub.gif" alt="" style="vertical-align:text-bottom;" />
				<a href="<{$sublink.url}>"><{$sublink.name}></a>
			</div>
		<{/foreach}>
	<{/if}>
</div>